FLASK_APP=app.py
FLASK_ENV=development
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=5123

#------------------------------groq env-----------------------------------------------------#
GROQ_CLOUD_KEY=
GROQ_MODEL="llama-3.3-70b-versatile"
# PORT=5123

#-----------------------------flask env ----------------------------------------------------#
# FLASK_ENV=development
# FLASK_APP=app.py
SQLALCHEMY_DATABASE_URI=
FLASK_DEBUG=1
JWT_SECRET="8f9bde34f39f9d3ad73bfe281f2ba358e3f785a88b2d00f8a5c9d0e5f43748c6"

#-----------------------------Stripe Keys --------------------------------------------------#
STRIPE_PUBLISH_KEYS=
STRIPE_SECRET_KEYS=