blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
psycopg2==2.9.9
python-dotenv==0.21.0
requests==2.32.3
SQLAlchemy==2.0.35
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
bcrypt==3.2.0
Flask-JWT-Extended==4.6.0
Flask-Bcrypt==1.0.1
Flask-Migrate==4.0.7
pandas~=2.2.0
folium~=0.19.4
geopy~=2.4.1
langchain_groq~=0.1.5
langchain_core~=0.1.53
bs4~=0.0.2
geocoder~=1.38.1
flask-swagger-ui~=4.11.1
gunicorn~=23.0.0
stripe~=11.6.0